<section>
    <div class="container">
        <div class="grid">
            {% for block in section.blocks limit: section.blocks.size %}
            <div class="product-item collection">
                <div class="product-image">
                    <a href="{{ block.settings.collection.url }}">
                        <img src="{{ block.settings.collection.featured_image | img_url: '270x270', crop: 'center', scale: 2 }}" data-src="{{ block.settings.collection.featured_image | img_url: '270x270', crop: 'center', scale: 2 }}" data-hover="{{ block.settings.collection.featured_image | img_url: '270x270', crop: 'center', scale: 2 }}" alt="{{ product.title | escape }}" loading="lazy">
                        <span class="water-mark">AA</span>
                    </a>
                </div>
                <h2 class="product-title"><a href="{{ block.settings.collection.url }}">{{ block.settings.collection.title }}</a></h2>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
</section>


{% schema %}
{
    "name": {
        "en": "Collections"
    },
    "blocks": [
    {
        "type": "Collections",
        "name": {
            "en": "Collections"
        },
        "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": {
                "en": "Collection"
            }
        }
        ]
    }]
}
{% endschema %}
