<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            {{ 'alienchambers.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'autumn.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'animalmagnetism.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'banquet.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'blessedinterlude.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'cliffs.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'crystalgazes.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'gleam.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'eldorado.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'godess.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'emergence.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'godess2.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'enlightenment.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'golden.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'fairyqueen.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'goldendawn.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'fissure.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'goldenhour.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'fountainoflife.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'impervious.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'genesis.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'iwasthen.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'hallucinogen.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'juniper.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'hallucinogenicholiday.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'ladyinred.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'lairofhelene.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'laguna.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'quoththeraven.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'luminous.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'sayiloveyou.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'manzinita.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'shecomestome.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'spring.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'showtime.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'threemadrones.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'theawakening.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'venus.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'thefaries.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'thesentinel.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'woodland.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>