<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            {{ 'alienchambers.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/autumn.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/animalmagnetism.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/banquet.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/blessedinterlude.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/cliffs.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/crystalgazes.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/gleam.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/eldorado.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/godess.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/emergence.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/godess2.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/enlightenment.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/golden.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/fairyqueen.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/goldendawn.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/fissure.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/goldenhour.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/fountainoflife.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/impervious.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/genesis.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/iwasthen.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/hallucinogen.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/juniper.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/hallucinogenicholiday.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/ladyinred.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/lairofhelene.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/laguna.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/quoththeraven.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/luminous.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/sayiloveyou.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/manzinita.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/shecomestome.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/spring.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/showtime.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/threemadrones.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/theawakening.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/venus.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/thefaries.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/thesentinel.jpg' | asset_img_url: 'master' | img_tag }}
        </div>
        <div class="swiper-slide">
            {{ 'images/woodland.jpeg' | asset_img_url: 'master' | img_tag }}
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>