{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<section class="single-product-page" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  {% render 'breadcrumbs' %}    
  <div class="container">
    <div class="grid-half">
      <div class="product-images">  
        <div class="swiper-wrapper">
          {% if product.images.size > 1 %}
          {% for image in product.images %}
          <div class="swiper-slide">
            <a href="{{ image | img_url: '1024x1024' }}">
              <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
            </a>
          </div>
          {% endfor %}
          {% endif %}            
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="product-content">
        
        
        <h1 class="product-title">{{ product.title }}</h1>

        <ul class="product-details">
          <li><i class="far fa-paint-brush"></i> Form:</li>
          <li><i class="far fa-calendar"></i> Date:</li>
          <li><i class="fas fa-ruler"></i> Dimensions:</li>
          <li><i class="fas fa-barcode"></i> SKU:</li>
        </ul>       
        
        
        <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
          {% if product.available %}
          <link itemprop="availability" href="http://schema.org/InStock" />
          {% else %}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          {% endif %}
          <p>
            Call for Pricing
          </p>
        </div>
        
        {% assign hide_default_title = false %}
        {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
        {% endif %}       
        
        <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
          <label for="id">Print Type:</label>
          <select id="product-select" name="id">
            {% for variant in product.variants %}
            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
          {% endfor %}
        </select>
      </div>        

      <div id="product-add">
        <a class="btn" href="/pages/contact-us">Contact For Pricing</a>
      </div>         
      
    </div>
  </div>
</div>
<div class="light">
  <div class="container">
    <div itemprop="description">
      {{ product.description }}
    </div>
  </div>
</div>
</section>
