{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<section class="single-product-page" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  {% render 'breadcrumbs' %}    
  <div class="container">
    <div class="grid-half">
      <div class="product-images">  
        <div class="swiper-wrapper">
          {% if product.images.size > 1 %}
          {% for image in product.images %}
          <div class="swiper-slide">
            <a href="{{ image | img_url: '1024x1024' }}">
              <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
            </a>
          </div>
          {% endfor %}
          {% endif %}            
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="product-content">
        
        
        <h1 class="product-title">{{ product.title }}</h1>
        
        <ul class="product-details">
          <li><i class="fas fa-paint-brush"></i> Form:</li>
          <li><i class="far fa-calendar"></i> Date:</li>
          <li><i class="fas fa-ruler"></i> Dimensions:</li>
          <li><i class="fas fa-barcode"></i> SKU:</li>
        </ul>       
        
        <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
          <label for="id">Print Type:</label>
          <select id="product-select" name="id">
            {% for variant in product.variants %}
            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
          {% endfor %}
        </select>
      </div>        
      
      <div id="product-add">
        <a class="btn" href="/pages/contact-us">Contact For Pricing</a>
      </div>         
      
    </div>
  </div>
</div>
<div class="light">
  <div class="box">
    <div class="container">
      <h3 class="text-center">Description</h3>
      <div itemprop="description">
        {{ product.description }}
      </div>
    </div>
    <div class="product-slerp">
      <div class="container">
        <p><strong>SKU:</strong><strong>Collections: </strong><strong>Tags:</strong>{% for tag in product.tags %}{{ tag }}, {% endfor %}</p>
      </div>
    </div>
  </div>
</div>
</section>
